<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="fslogix" />
    <package id="powershell-core" />
    <package id="git" packageParameters="/GitAndUnixToolsOnPath /SChannel /Editor:VisualStudioCode" />
    <package id="python" />
    <package id="notepadplusplus.install" />

</packages>